<html>


  <head>

    <title>RAMP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <script src="//oss.maxcdn.com/bootbox/4.2.0/bootbox.min.js"></script>

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/simple-sidebar.css') }}" rel="stylesheet">

    <style>
    .fullscreen-modal .modal-dialog {
      margin: 0;
      margin-right: auto;
      margin-left: auto;
      width: 100%;
    }
    @media (min-width: 768px) {
      .fullscreen-modal .modal-dialog {
        width: 750px;
      }
    }
    @media (min-width: 992px) {
      .fullscreen-modal .modal-dialog {
        width: 970px;
      }
    }
    @media (min-width: 1200px) {
      .fullscreen-modal .modal-dialog {
         width: 1170px;
      }
    }
    </style>
  </head>


<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        RAMP Organizer
                    </a>
                </li>
                <li>
                    <a href="/ramp/home">Project Dashboard</a>
                </li>
                <li>
                    <a href="/ramp/docsim">Research</a>
                </li>
                <li>
                    <a href="/ramp/add">Respond to Request</a>
                </li>
<!--                 <li>
                    <a href="/ramp/savedoc">Saved Documents</a>
                </li> -->
<!--            <li>
                    <a href="/ramp/word2vec">Word Embedding</a>
                </li> -->
                <li>
                    <a href="/ramp/topics">Topics</a>
                </li>
                <li>
                    <a href="/ramp/visuals">Knowledge Graph</a>
                </li>

            </ul>
        </div>

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <h1><b>Welcome to RAMP</b></h1>
            <h2><b>The Research Assistant Management Platform</b></h2>
            <div class="col-lg-12">
                <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Show Menu</a>
            </div><br><br>
            <div class="container-fluid">
                {% block content %} {% endblock %}
            </div>
        </div>
    </div>
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>



</html>
