{% extends 'template.html' %}

{% block content %}



<h1>Add a new entry</h1>

<form action="/data_entry" method="POST">
	<p> Question <input type = 'text', name = 'Question', style='width: 500px;' /></p>
	<p> Date <input type = 'date', name = 'Date' /></p>
	<p> ID <input type = 'text', name = 'Question ID' /></p>
	<p> Responder <input type = 'text', name = 'Analyst Name' /></p>
	<p> Response <input type = 'text', name = 'Response', style='width: 500px;' /></p>
</form>

<form action="{{ url_for('add_entry') }}", method=post class=add-entry>
	<dl>
		<dt>Please upload any additional attachments</dt>
		<dd><input type=file size=30 name=filename></dd>
		<dd><input type=submit value=Share></dd>
	</dl>
</form>

{% endblock %}
