{% extends 'template.html' %}

{% block content %}
<h1>All Topics</h1>
<form action="/topics" method="POST">
</form>



<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Topic Number</th>
                <th>Element 1</th>
                <th>Element 2</th>
                <th>Element 3</th>
                <th>Element 4</th>
                <th>Element 5</th>
            </tr>
        </thead>
        {% for topic in topicsData %}
      	<tbody>
      			<tr>
                <td class="topic-id">{{topic[0]}}</td>
      					<td class="topic-elements">{{topic[1]}}</td>
      					<td class="topic-elements">{{topic[2]}}</td>
      					<td class="topic-elements">{{topic[3]}}</td>
      					<td class="topic-elements">{{topic[4]}}</td>
      					<td class="topic-elements">{{topic[5]}}</td>
      			</tr>
        </tbody>
        {% endfor%}
      </table>
</div>

{% endblock %}
